@font-face {
  font-family: 'SimpleFont';
  src:url('./simple.ttf') format('truetype');
 
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 200%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 200%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET end */


.latin_nev {
	
	font-style: oblique;
	
	
}

html {
   
  background: url("../images/virag5.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	 
}

ul {
    list-style-type: circle;
	padding-left: 60px;
}


.vissza, .tovabb { 
	text-decoration: none;
    color:#CCA866;
	font-weight:bolder;
}


div.container{

   /* max-width: 1024px;*/
    /* height: 100%; */ 
    /* position: absolute; */
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	background-color: white;
	
	}

div.tartalom, div.lead {
	
	padding: 0 70px 30px 70px;
	
	
}

#nav {
text-align:center;
font-size:100%;
padding-bottom: 10px;
padding-top:10px;
background-color: #CCA866;
	background-image: url("../images/zoldsav_hatter.png");
		background-position: bottom;
		background-repeat: repeat-x;
		background-size:11px 53px; 
		
}
#nav li {
display:inline;

}
#nav a {
	width:40px;
text-decoration:none; 
color:white;
padding:0 15px; /* variable width */
}

.container div {
	font-family: 'SimpleFont';
	
}

.box {
	height:70%;
	width:70%;

	position: fixed;
	top:15px;
	left:15px;
	z-index: 30;	
	
}

.arrow {
	height:50%;
	width:35%;
/*	background-color: blue;
*/	position: absolute;
	
	background-image: url("../images/bal_feher.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 40%;
	text-align: left;
	font-size: 40px; 
	padding-top:8%;
	padding-left:14%;
	text-shadow: 2px 2px #000000;
	font-weight: bolder;
	top:15%;
	left:55%;
	overflow:hidden;
	z-index: 999;	
	
}

a.header_kep {
	width: 100%;
	height: 347px;
	background-image: url("../images/header_kep_logo2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	display:block;
	
}	

div.elvalaszto_kep {
	width: 100%;
	

	background-position: center bottom;

	background-repeat: no-repeat;
background-size: cover;
}	

div.tartalom_kep {
	
	height: 171px;
	
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	width: 100%;
	    top:0;
    bottom: 0;
    left: 0;
    right: 0;
	/* padding-bottom:40px;
	padding-top:40px;
    margin: auto; */
	margin-top:30px;
	margin-bottom:30px;
	overflow:none;
}

#tart_kep_1 {background-image: url("css/kerttervezes_ill.png");}
#tart_kep_2 {background-image: url("css/kerttervezes_ill2.png");}

#header_a_hely_szelleme { background-image: url("A_hely_szelleme/kepek/A_hely_szelleme_top.jpg"); }
#header_egyenisegek_kertje { background-image: url("Egyenisegek_kertje/kepek/Egyenisegek_kertje_top.jpg"); }
#header_fenyok_alatt { background-image: url("Fenyok_alatt/kepek/Fenyok_alatt_top.jpg"); }
#header_gyerekek_kertje { background-image: url("Gyerekek_kertje/kepek/Gyerekek_kertje_top.jpg"); }
#header_kicsi_es_takaros { background-image: url("Kicsi_es_takaros/kepek/Kicsi_es_takaros_top.jpg"); }
#header_parkolobol_jatekter { background-image: url("Parkolobol_jatekter/kepek/Parkolobol_jatekter_top.jpg"); }
#header_vadregenyes_viragtenger { background-image: url("Vadregenyes_viragtenger/kepek/Vadregenyes_viragtenger_top.jpg"); }
#header_elotte_utana { background-image: url("Elotte_Utana/kepek/Elotte_utana_top.jpg"); }

div.cim {
	background-color: white; /*red*/
	text-align: center;
	width: 100%;
	
}

#cim_kerttervezes{height:64px;-ms-interpolation-mode: bicubic;}
#cim_kertepites{	height:99px; margin-bottom:-30px;-ms-interpolation-mode: bicubic;}
#cim_kertgondozas{	height:80px;margin-bottom:-30px;-ms-interpolation-mode: bicubic;}
#cim_ontozorendszer{	height:85px;margin-bottom:-20px;-ms-interpolation-mode: bicubic;}
#cim_arak{	height:90px;margin-bottom:-10px;-ms-interpolation-mode: bicubic;}
#cim_magunkrol{	height:109px;margin-bottom:-30px;-ms-interpolation-mode: bicubic;}
#cim_galeria{	height:61px;margin-bottom:-10px;-ms-interpolation-mode: bicubic;}
#cim_elerhetoseg{	height:80px;margin-bottom:-30px;-ms-interpolation-mode: bicubic;}

div.zold_sav{
	height: 40px;
	background-color: #CCA866;
	background-image: url("../images/zoldsav_hatter.png");
	background-position: bottom;
	background-repeat: repeat-x;
	background-size:11px 53px; 
}
div.galeria_wrapper_open {
	overflow: auto;
	width: 100%;
	height:100%;
    margin: 0 auto;
}
div.galeria_novenyek_open {
	width:50%;
	height: 327px;
	background-image: url("../images/galeria_novenyek.png");
	background-size: cover;
	float:left;
	font-size: 170%;
 	line-height:327px;
    text-align: center;
}	
div.galeria_kertek_open {
	width:50%;
	height: 327px;
	background-image: url("../images/galeria_kertek.png");
	background-size: cover;
	float:right;
	font-size: 170%;
	line-height:327px;
    text-align: center;
}
div.galeria_kertek_open:hover{
 background-image: linear-gradient(to bottom, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_kertek.png");
    background-image: -moz-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_kertek.png");
    background-image: -o-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_kertek.png");
    background-image: -ms-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_kertek.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 187, 0, 0.5)), to(rgba(0, 187, 0, 0.5))), url("../images/galeria_kertek.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_kertek.png");
}
div.galeria_novenyek_open:hover{
 background-image: linear-gradient(to bottom, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_novenyek.png");
    background-image: -moz-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_novenyek.png");
    background-image: -o-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_novenyek.png");
    background-image: -ms-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_novenyek.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 187, 0, 0.5)), to(rgba(0, 187, 0, 0.5))), url("../images/galeria_novenyek.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_novenyek.png");
}
div.novenyek_open_hatter {
	
	 background-image: linear-gradient(to bottom, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_novenyek.png");
    background-image: -moz-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_novenyek.png");
    background-image: -o-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_novenyek.png");
    background-image: -ms-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_novenyek.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 187, 0, 0.5)), to(rgba(0, 187, 0, 0.5))), url("../images/galeria_novenyek.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_novenyek.png");

	
	
}

div.kertek_open_hatter{
	
	 background-image: linear-gradient(to bottom, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_kertek.png");
    background-image: -moz-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_kertek.png");
    background-image: -o-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_kertek.png");
    background-image: -ms-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_kertek.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 187, 0, 0.5)), to(rgba(0, 187, 0, 0.5))), url("../images/galeria_kertek.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 187, 0, 0.5), rgba(0, 187, 0, 0.5)), url("../images/galeria_kertek.png");

	
	
}


.galeria_kertek_open a, .galeria_novenyek_open a {
	
	background-color: #CCA866;
color:white;
padding: 10px;
text-decoration: none;	
	
}	
.galeria_wrapper {
	max-width: 1024px;
/* 	margin-left:auto;
	margin-right:auto; */
}	
	
#galeria_kertek,  #galeria_novenyek, #galeria_kerttervezes{
	margin-top:40px;
	margin-bottom:40px;
	
	margin-left:auto;
	margin-right:auto; 
	
	overflow:hidden;
}
	
	
	.elerhetoseg_wrapper{
	width:100%;
	height:400px;
	}
.elerhetoseg_1, .elerhetoseg_2{
	float:left;
	height:100%;
	
	
}
.elerhetoseg_1{

	width:50%;
		
}
.elerhetoseg_2{
	width:50%;
	min-width:25%;

}
	
	
.portre {

  margin-left: auto;
  margin-right: auto;

	height:150px;
	width:150px;

	
}

.info {
  margin-left: auto;
  margin-right: auto;
		height:100px;
	padding: 10px;

	text-align:center;
}	
	
@media screen and (max-width: 600px) {

.elerhetoseg_1, .elerhetoseg_2{
	float:none;
	height:50%;
	width:100%;
} 

.elerhetoseg_wrapper{
	height:650px;
	
}

div.tartalom, div.lead {
	
	padding: 0 20px 10px 20px;
	overflow:hidden;
	
}

.menupont {
		
	overflow:hidden;
	
}

div.header_kep {
	
	height: 150px;
	
}

#cim_kerttervezes{height:40px;}
#cim_kertepites{	height:66px; margin-bottom:-15px;}
#cim_kertgondozas{	height:54px;margin-bottom:-15px;}
#cim_ontozorendszer{	height:56px;margin-bottom:-10px;}
#cim_arak{	height:60px;margin-bottom:-5px;}
#cim_magunkrol{	height:72px;margin-bottom:-15px;}
#cim_galeria{	height:40px;margin-bottom:-5px;}
#cim_elerhetoseg{	height:54px;margin-bottom:-5px;}

div.elvalaszto_kep {
	
	height: 150px;
}

div.zold_sav{
height: 20px;
}

div.galeria_novenyek_open {

	height: 150px;
 	line-height:150px;

}	
div.galeria_kertek_open {

	height: 150px;
	line-height:150px;

}


.arrow {
	height:0px;
	width:0px;
}


}


	
.footer {
	text-align: center;
	color:white;
	margin-top: -15px;
	position: relative;
}

.footer .field {
	background-color: #CCA866;
}

.footer::before {
	content: "";
	width: 100%;
	height: 10px;
	display: block;
	background: url(../images/footer-half-circle.png) transparent;
}

.footer_kert {
text-align: center;
color:white;
	background-color: #CCA866;
	background-image: url("../images/zoldsav_fel_hatter.png");
	background-position: top;
	background-repeat: repeat-x;
	background-size:11px 53px; 
	padding-top:10px;
}	



a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #CCA866 url("../images/fel_nyil.png") no-repeat center 43%;
	background-size:cover;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.container p, 
.container h1, 
.container h2, 
.container h3, 
.container h4,
.ug-gallery-wrapper {
font-family: 'SimpleFont';
/*padding-left: 20px;
padding-right: 20px;
*/
}
h1{
font-size: 300%;
padding-bottom: 20px;
padding-top: 20px;
}
h2{
font-size: 140%;
padding-bottom: 0px;
padding-top: 0px;

}
h3{
font-size: 100%;
padding-bottom: 20px;
}


h4{
font-size: 110%;
padding-bottom: 5px;
}

.field-name-field-lead .field-item,
.field-name-field-text .field-item {
  text-align: justify;
}


#map {
	line-height: 0;
}

