@media screen and (max-width: 800px) {
    /*375-800*/
    ul#nav {
      padding: 20px 0;
    }

    ul#nav li {
      display: block;
    }

    .contact {
      float: none;
      width: 100% !important;
    }

    .contact .info {
      height: auto;
    }
  }

.content p {
  margin: 1em 0;
}

.field-name-field-gallery {
  width: 90%;
  margin: 0 auto;
}

.field-name-field-gallery .field-item {
  float: left;
}

.field-name-field-separation-image img {
	width: 100%;
	display: block;
}

.paragraphs-items .field-item {
  padding: 0 0 30px 0;
}

.page-node .paragraphs-items .field-item {
  padding: 0;
}

.page-node a.vissza {
  padding: 20px 0;
  display: block;
}

a.item-title {
	color: #000;
}

h1.kerttervezes {
  margin-left: 260px;
}

.bg_kerttervezes {
	content: "";
	background: url(../images/bg_kerttervezes.png) no-repeat;
	background-size: 50px;
	height: 54px;
	width: 50px;
	margin-right: -361px;
    margin-bottom: 15px;
    display: inline-block;
}

h1.kertepites {
  margin-left: -36px;
}

.bg_kertepites {
	content: "";
	background: url(../images/bg_kertepites.png) no-repeat;
	background-size: 69px;
    height: 99px;
    width: 85px;
    margin-right: -57px;
    margin-bottom: -25px;
    display: inline-block;
}

h1.kertgondozas {
  margin-left: 244px;
}


.bg_kertgondozas {
	content: "";
	background: url(../images/bg_kertgondozas.png) no-repeat;
	background-size: 69px;
    height: 99px;
    width: 85px;
    margin-right: -402px;
    margin-bottom: -49px;
    display: inline-block;
}

h1.ontozorendszer {
  margin-left: 338px;
  padding-top: 32px;
}


.bg_ontozorendszer {
	content: "";
	background: url(../images/bg_ontozorendszer.png) no-repeat;
	background-size: 21px;
    height: 99px;
    width: 85px;
    margin-right: -448px;
    margin-bottom: -82px;
    display: inline-block;
}

h1.arak-garancia {
  margin-left: 80px;
}


.bg_arak-garancia {
	content: "";
	background: url(../images/bg_arak.png) no-repeat;
	background-size: 69px;
    height: 99px;
    width: 85px;
    margin-right: -192px;
    margin-bottom: 3px;
    display: inline-block;
}

h1.magunkrol {
  margin-left: 98px;
}


.bg_magunkrol {
	content: "";
	background: url(../images/bg_magunkrol.png) no-repeat;
	background-size: 69px;
    height: 99px;
    width: 85px;
    margin-right: -214px;
    margin-bottom: -20px;
    display: inline-block;
}

h1.galeria {
  margin-left: 0px;
}


.bg_galeria {
	content: "";
	background: url(../images/bg_galeria.png) no-repeat;
	background-size: 69px;
    height: 99px;
    width: 85px;
    margin-right: 0;
    margin-bottom: -51px;
    display: inline-block;
}

h1.elerhetoseg {
  margin-left: 240px;
}


.bg_elerhetoseg {
	content: "";
	background: url(../images/bg_elerhetoseg.png) no-repeat;
	background-size: 38px;
    height: 99px;
    width: 85px;
    margin-right: -353px;
    margin-bottom: -44px;
    display: inline-block;
}

.view-gallery .views-row {
	float: left;
	margin-left: 20px;
}

.contact {
	float:left;
	height:100%;
}

a.tel {
	text-decoration: none;
    color:#4286f4;
font-weight:bolder;
}

.contact-odd, .contact-even {
	width:32.2%;
}

.tel,
.footer a,
.footer_kert a {
	text-decoration: none;
}

.footer a,
.footer_kert a  {
  color: #fff;
}

.comment-wrapper {
	display: none;
}

body.page-node-edit {
	font-family: arial !important;
}

h2.dashboard {
  text-align: center;
color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #4286f4;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 11px 53px;
}


#dashboard {
  font-family: Arial;
  font-size: 0.6em;
  padding: 10px;
}

#dashboard ul li {
	padding: 10px 0;
}


table {
    width: 100%;
    font-size: 0.923em;
    margin: 0 0 10px;
    border: 1px solid #bebfb9;
}

table th.select-all {
    width: 1px;
}
table th {
    text-transform: uppercase;
    background: #e1e2dc;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #bebfb9;
    padding: 3px 10px;
}
table td, table th {
    vertical-align: middle;
    padding: 8px 10px;
    border: 0;
    color: #000;
    text-align: left;
}
input.form-checkbox, input.form-radio {
    vertical-align: middle;
}
input, select, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
tr.odd {
    background: #fff;
}
tr.even, tr.odd {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #bebfb9;
    background: #f3f4ee;
}
table td, table th {
    vertical-align: middle;
    padding: 8px 10px;
    border: 0;
    color: #000;
}
tr.odd {
    background: #fff;
}